<div id='edit'>
  <form class='edit_form' action='/api/:id' method='PATCH'>
  <h5>Edit Record</h5>
    <input type='search' name='title' class='form-control rounded-0 py-2' id='user-input'>
    <button type='submit' id='add-btn' class='btn btn-,lg btn-default'>Submit</button>
    <button type='submit' class='btn btn-,lg btn-default'>Cancel</button>
  </form>
</div>
