<div class='container'>

  <div class='header'>
    <h1>RESTful CMS</h1>
  </div>

  <div class='submit-todo'>
    <h5>Add a new Todo</h5>
    <div>
      <form class='input' onsubmit='submitTodo()' action='/api/todos'>
        <input type='search' class='form-control rounded-0 py-2' id='user-input'>
        <button type='submit' id='add-btn' class='btn btn-,lg btn-default'>ADD</button>
      </form>
    </div>
  </div>

  <div class='todos'>
    <div class='column-titles'>
      <h2>To Dos</h2>
    </div>
    <ul>
      <li>clean room</li>
    </ul>
  </div>

  <div class='in-progress'>
    <div class='column-titles'>
      <h2>In Progress</h2>
    </div>
    <ul></ul>
  </div>

  <div class='completed'>
    <div class='column-titles'>
      <h2>Completed</h2>
    </div>
    <ul></ul>
  </div>

</div>
