@import url('variables.css');

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

.input {
  display: flex;
  flex: 1;
}

#user-input {
  width: 200px;
  margin-right: 10px;
}

.column-titles {
  display: grid;
  justify-items: center;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  background-color: blanchedalmond;
}

.header {
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  align-content: left;
}

.submit-todo {
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  align-content: left;
}

.status-columns {
  grid-column: 1;
  display: grid;
  grid-auto-rows: repeat(3, minmax(80px, 1fr));
}

.in-progress {
  grid-column: 2;
  display: grid;
  grid-auto-rows: repeat(3, minmax(80px, 1fr));
}

.completed {
  grid-column: 3;
  display: grid;
  grid-auto-rows: repeat(3, minmax(80px, 1fr));
}
